<html>
<head>
    <meta charset="UTF-8"> 
    <title>events book</title>
</head>
<body>
    <table>
    <h1>EVENTS BOOK</h1>
    </table>
</body>

<form id="sign" action="/" method="POST">
    <br>User Name: <input type="text" placeholder="User Name" id="user" name="user" required></input>
    <br>Password: <input type="text" placeholder="Password" id="password" name="password" required></input>

    <a href="/home"><input type="submit" name="sign" id="sign" value="GO"></a>
</form>
<a href="/NewUser"><input type="button" value="new user" method="GET"></a>
</html>